.forget_password_section{
    width: 100%;
    background: #FAFAFA;
    height: 100vh;
    // margin-top: 40px;

    .header{
        width: 100%;
        background: #FFFFFF;
        padding: 10px 0px;
        border-bottom: 1px solid #e9e9e9;
        position: sticky;
        top: 0;
        margin-bottom: 40px;

        a{
            width: 60%;
            margin: auto;
            display: block;
        }
    }

    .forget_password_body{
        width: 390px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        text-align: center;
        background: #ffffff;
        padding: 20px 0px;
        border-radius: 4px 4px 0px 0px;
        border: 1px solid #e9e9e9;

        .lock_box{
            height: 96px;
            width: 96px;
            border-radius: 50%;
            border: 2px solid #797676;
            padding: 10px 0px;
            margin-bottom: 12px;
            span{

                svg{
                    font-size: 48px;
                    margin-top: 12px;
                    color: #797676;
                }
            }
        }

        .content{
            width: 300px;
            h4{
              font-size: 16px;
              font-weight: 500;
            }

            span{
                color: #807e7e;
                font-size: 13px;
                line-height: 22px;
                display: inline-block;
                margin-bottom: 10px;
            }
        }

        .recovery_form{
        

            .email_field{
                width: 300px;
                height: 40px;
                font-size: 13px;
                padding: 3px 10px;
                border: 1px solid #e9e9e9;
                border-radius: 4px;
                background: #e8e0e017;
                margin-bottom: 15px;

                &::placeholder:focus{
                    color: red;
                    position: fixed;
                }
            }

            .submit_btn{
                width: 300px;
                height: 30px;
                background: #B2DFFC;
                border: none;
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                border-radius: 4px;
            }

            .cannt-reset {
                color: #346795;
                cursor: pointer;
                font-size: 12px;
                font-weight: 500;
                display: inline-block;
                margin-top: 11px;
            }
        }

        .divider{

            padding: 25px 0px;
            color: #9e9898;
            font-size: 13px;
            font-weight: 400;
            position: relative;
            width: 100%;

            &::after{
                content: "";
                position: absolute;
                top: 35px;
                left: 35px;
                width: 34%;
                background: #e9e9e9;
                height: 1px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 35px;
                right: 35px;
                width: 34%;
                background: #e9e9e9;
                height: 1px;
            }
        }

        .create_account{
            margin-top: -13px;
            a{
                text-decoration: none;
                color: #000;
                font-size: 14px;
            }
        }

        .login{
            margin-top: 77px;
            border-top: 1px solid #e9e9ee;
            a{
                text-decoration: none;
                color: #000;
                font-size: 14px;
                margin-top: 18px;
                display: block;
            }
        }
    }
}

// recaptcha scss
.mt {
    margin-top: 40px;
}
.another-account {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
}

.reacptcha-area {

  .recap-heading{
    display: block;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 6px;
  }

  .recap-top-content{
    display: block;
    font-size: 15px;
    padding: 0px 39px;
    line-height: 25px;
    color: #262626;
    margin-bottom: 10px;
  }

  .recaptcha{
    width: 304px !important;
    margin: auto !important;
    height: 78px !important;
  }

  .footer-content{
    display: block;
    font-size: 12px;
    padding: 0px 39px;
    line-height: 25px;
    text-align: left !important;
    color: #65676b;
    margin-top: 10px;
  }

}

.reacaptcha-footer {
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    background: #ffffff;
    padding: 20px 0px;
    border: 1px solid #e9e9e9;
    border-radius: 0px 0px 4px 4px;

    .cap-next{
        display: inline-block;
        text-decoration: none;
        background: #0095F6;
        width: 83%;
        color: rgb(255, 255, 255);
        padding: 7px 0px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }
}

div#rc-anchor-alert {
    display: none !important;
}


//  account info

.account-area{
    padding: 0px 35px;

    .account-heading {
        display: block;
        font-size: 22px;
        margin-bottom: 10px;
        font-weight: 400;
    }

    .account-content {
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 24px;
    display: inline-block;
    }

    .info{
        text-align: left;
        margin-bottom: 15px;
        span{
            display: block;
            font-size: 16px;
            font-weight: 300;
        }
    
        strong{
            font-weight: 400;
            font-size: 17px;
        }
    }
}

.secure-my-account {
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    background: #0e69f9;
    color: #fff;
    padding: 12px 23px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.yes-correct {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}
